@charset "utf-8";
#apDiv1 {
	position:absolute;
	left:1px;
	top:-1px;
	width:1915px;
	height:300px;
	background-color: #F2F2F2;
}

body,td,th {
	font-family: "Comic Sans MS", cursive;
	font-size: 24px;
	color: #FFF;
	font-style: italic;
}

#apDiv2 {
	position:absolute;
	left:0px;
	top:299px;
	width:1916px;
	height:72px;
	z-index:1;
	background-color: #FF0066;
}
#apDiv3 {
	position:absolute;
	left:261px;
	top:111px;
	width:424px;
	height:32px;
	z-index:2;
	color: #F06;
	font-size: xx-large;
	font-family: cursive, monospace, fantasy, Cambria, Castellar, Candara;
	font-weight: bolder;
}
#apDiv4 {
	position:absolute;
	left:0px;
	top:371px;
	width:1914px;
	height:794px;
}

#apDiv5 {
	position:absolute;
	left:0px;
	top:1181px;
	width:1921px;
	height:98px;
	z-index:3;
	background-color: #333333;
}
